# Teknic SC4-Hub: use Exar xr_usb_serial driver instead of cdc_acm
#
# Install:
#   sudo cp 99-sc4hub.rules /etc/udev/rules.d/
#   sudo cp xr_usb_serial_common.ko /lib/modules/$(uname -r)/extra/
#   sudo depmod
#   echo "blacklist cdc_acm" | sudo tee /etc/modprobe.d/sc4hub.conf
#   sudo udevadm control --reload-rules
#   # Then re-plug the SC4-Hub USB cable.

# Blacklist cdc_acm for this device and load Exar driver
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="2890", ATTRS{idProduct}=="0213", \
    RUN+="/sbin/modprobe xr_usb_serial_common", \
    RUN+="/bin/sh -c 'echo $kernel > /sys/bus/usb/drivers/cdc_acm/unbind 2>/dev/null'"

# Give uucp group access and create symlink
SUBSYSTEM=="tty", ATTRS{idVendor}=="2890", ATTRS{idProduct}=="0213", MODE="0660", GROUP="uucp", SYMLINK+="sc4hub"
