__pycache__/
*.pyc
*.egg-info/
dist/
build/
.eggs/
**/recordings/
**/runs/
**/.venv/

# KiCad
**/.history/
**/*.lck
**/*-backups/
**/fp-info-cache
**/*.kicad_prl
**/_autosave-*
**/*-bak
**/*.bak
**/*.bck
**/*.kicad_sch-bak
**/*.kicad_pcb-bak

# KiCad project-specific
hw/**/gen_schematic.py

# JLCPCB/LCSC Library Loader (plugin-managed)
hw/**/EasyEDA_Lib/
hw/**/EASYEDA_MODELS/
hw/**/jlc-kicad-lib-loader.ini
hw/**/jlcpcb_lib/

# Fabrication Toolkit output
hw/**/fabrication-toolkit-options.json
hw/**/jlcpcb/
hw/**/production/
